<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BootStrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">


    <title>Easy Blog</title>
</head>
<body>
    <nav class="navbar navbar-default custom-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">Easy Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="">Github</a></li>
                <li><a href="">LinkedIn</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'post_new' %}">New Post</a>
                </li>
                <li>
                    <a href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    </li>
                <li>
                    <p>Welcome: {{ user.username }}</p>
                </li>
                
                {% else %}
                <li><a class="nav navbar-right " href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a>Login</li>
                
                {% endif %}
            </ul>
        </div>


    </nav>

    <div class="content container">
    {% block content %}
    

    
    {% endblock  %}
    </div>
</body>
</html>